body,footer {
    background-color: rgb(250, 200, 200);
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Courier New", monospace;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-family: "Courier New", monospace;
}

.city_lat_long, .gender {
    text-align: left;
}

form{
    text-align: left;
}

input,select{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#passwordError{
    color: red;
    font-size: 14px;
}

#usernameError{
    color: red;
    font-size: 14px;
}

#suggestedPassword {
    margin-top: 10px;
    font-size: 14px;
}

.submitButton{
    padding: 12px;
    border-radius: 8px;
    font-family:"Courier New", monospace; 
   
}

input[type="submit"]:hover {
    background-color:  rgb(250, 200, 200);;
}
